
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Resim Dosyası Ekleme</h4>
                    <br />
                    <div class="basic-form">
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" name="file" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Dosya Yükle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
