<!--**********************************
    Footer start
***********************************-->
<div class="footer">
    <div class="copyright">
        <p>@DateTime.Now.Year &copy; <a href="https://themeforest.net/user/quixlab">Quixlab</a> tarafından tasarlandı ve geliştirildi.</p>
    </div>
</div>
<!--**********************************
    Footer end
***********************************-->
