@model List<SearchLocationViewModel>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    @using(Html.BeginForm("Index", "SearchLocation", FormMethod.Post))
    {
        <label>Şehir Adı</label>
        <input type="text" class="form-control" name="cityName"/>
        <br />
        <button class="btn btn-success">Id Getir</button>
    }
    <br />
    <table class="table table-bordered">
        <tr>            
            <th>Lokasyon</th>            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.dest_id</td>               
            </tr>
        }
    </table>
    <br />
    <a href="/HotelByCity/Index" class="btn btn-info">Yeni Otel Rezervasyon Bilgisi</a>
</div>
