@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Rezervasyon İşlemleri</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Misafir</th>
                                    <th>Giriş Tarihi</th>
                                    <th>Çıkış Tarihi</th>
                                    <th>Durum</th>
                                    <th>Onayla</th>
                                    <th>Beklet</th>
                                    <th>İptal Et</th>
                                    <th>Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th>@count</th>
                                        <td>@item.NameSurname</td>
                                        <td>@item.CheckIn.ToString("dd MMM yy - HH:mm")</td>
                                        <td>@item.CheckOut.ToString("dd MMM yy - HH:mm")</td>
                                        @if (item.Status == "Onay Bekliyor")
                                        {
                                            <td><span class="badge badge-primary px-2">Onay Bekliyor</span></td>
                                        }
                                        else if (item.Status == "Onaylandı")
                                        {
                                            <td><span class="badge badge-success px-2">Onaylandı</span></td>
                                        }
                                        else if (item.Status == "İptal Edildi")
                                        {
                                            <td><span class="badge badge-danger px-2">İptal Edildi</span></td>
                                        }
                                        <td><a href="/Booking/ConfirmBooking/@item.BookingId" class="btn mb-1 btn-rounded btn-outline-primary">Onayla</a></td>
                                        <td><a href="/Booking/WaitBooking/@item.BookingId" class="btn mb-1 btn-rounded btn-outline-dark">Beklet</a></td>
                                        <td><a href="/Booking/CancelBooking/@item.BookingId" class="btn mb-1 btn-rounded btn-outline-danger">İptal Et</a></td>
                                        <td><a href="/Booking/UpdateBooking/@item.BookingId" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
