<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row d-flex align-items-stretch">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 w-100">
                <h6 class="section-title text-start text-white text-uppercase mb-3">HUZUR DOLU BİR TATİL</h6>
                <h1 class="text-white mb-4">Otelimizi daha yakından tanıyın</h1>
                <p class="text-white mb-4">Geleneksel misafirperverliği modern konforla buluşturan Hotelier, konuklarına her detayda özenle hazırlanmış bir konaklama deneyimi sunar. Otelimiz için hazırladığımız video ile daha fazla bilgi edinebilirsiniz.</p>
                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">ODALARIMIZ</a>
                <a href="" class="btn btn-light py-md-3 px-md-5">REZERVASYON YAP</a>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div class="w-100 d-flex justify-content-center">                
                <iframe width="660" height="420" src="https://www.youtube.com/embed/V2zpLzoJBuQ?si=rYGLJsRDI4KBmRSh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
