
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadComponent")

<body>
    <div class="w-100 bg-white m-0 p-0">

        @await Component.InvokeAsync("_SpinnerComponent")

        @await Component.InvokeAsync("_NavbarComponent")

        @await Component.InvokeAsync("_ContactHeaderComponent")

        @await Html.PartialAsync("/Views/UIContact/SendMessage.cshtml")

        @await Html.PartialAsync("/Views/Default/SubscribePartial.cshtml")

        @await Component.InvokeAsync("_FooterComponent")

        <a href="/Default/Index" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Component.InvokeAsync("_ScriptComponent")
</body>
</html>
