@model List<APIMovieViewModel>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Film</th>
            <th>Puan</th>
            <th>Fragman</th> 
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <th>@item.rank</th>
                <td>@item.title</td>
                <td>@item.rating</td>
                <td><a href="@item.trailer" class="btn btn-outline-dark">Oynat</a></td>
            </tr>
        }
    </table>
</div>
